<div class="container">
  <mat-card>
    <p>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
    </p>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://192.168.1.48:1234 ">video call</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    <!-- <mat-card-content>
      <mat-card-title translate>Hello world !</mat-card-title>
      <mat-card-subtitle>
        <app-loader [isLoading]="isLoading" [size]="1.5"></app-loader>
        <q [hidden]="isLoading">{{ quote }}</q>
      </mat-card-subtitle>
    </mat-card-content> -->
  </mat-card>
</div>
